body {
    display: grid;
    grid-template-columns: 2fr 80% 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "nav nav nav"
      "header header header"
      ". main ."
      "footer footer footer"
    ;

    background-color:navy;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
}